# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/

# Envs
.venv/
venv/
.env
**/.env
src/qcmgen/.env

# Jupyter
.ipynb_checkpoints/

# Mac/Windows
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml
